<div class="panel-heading">Тест # <span ng-bind="progress + 1"></span>, Воспрос <span ng-bind="questionId + 1"></span></div>
<div class="panel-body text-center">
	<div class="row-fluid">
		<div class="span12">
			<div ng-switch="question.type">
				<div ng-switch-when="colors">
					<colors question="question" nextaction="#/test/{{progress}}/question/{{questionId}}/result"></colors>
				</div>
				<div ng-switch-when="digits">
					<digits question="question" nextaction="/test/{{progress}}/question/{{questionId}}/result"></digits>
				</div>
				<div ng-switch-when="figures">
					<figures question="question" nextaction="#/test/{{progress}}/question/{{questionId}}/result"></figures>
				</div>
                <div ng-switch-when="phrase">
                    <phrase question="question" nextaction="#/test/{{progress}}/question/{{questionId}}/result"></phrase>
                </div>
				<div ng-switch-when="fall">
					<fall question="question" nextaction="/test/{{progress}}/question/{{questionId}}/result"></fall>
				</div>
                <div ng-switch-when="compare">
                    <compare question="question" nextaction="/test/{{progress}}/question/{{questionId}}/result"></compare>
                </div>
                <div ng-switch-when="sum">
                    <sum question="question" nextaction="/test/{{progress}}/question/{{questionId}}/result"></sum>
                </div>
                <div ng-switch-when="random">
                    <random question="question" nextaction="#/test/{{progress}}/question/{{questionId}}/result"></random>
                </div>
				<div ng-switch-when="maze">
					<maze question="question" nextaction="#/test/{{progress}}/question/{{questionId}}/result"></maze>
				</div>
			</div>
		</div>
	</div>
</div>
