<div class="panel panel-default">
  <div class="panel-heading" ng-bind="question.description"></div>
  <div class="panel-body">
    <table>
      <tr ng-repeat="row in question.options">
        <td ng-repeat="cell in row" ng-click="selectCell()" ng-class="cell.isSelected ? 'selected' : ''"
            ng-style="{'background-color' : cell.color}" ng-bind="cell.content"></td>
      </tr>
    </table>
    <hr>
    <a class="btn btn-lg btn-success" ng-bind="question.controlTitle" ng-click="handleResults()" ng-href="{{nextaction}}"></a>
  </div>
</div>