<div class="panel panel-default">
    <div class="panel-heading" ng-bind="question.description"></div>
    <div class="panel-body">
        <div class="tableContainer">
            <table ng-mousemove="moveTracking($event)">
                <tr ng-repeat="row in maze">
                    <td ng-repeat="cell in row.top track by $index" ng-style="applyStyle()" data-cell="{{$index}}" data-row="{{$parent.$index}}">
                        <div ng-if="$index == startPos.y && $parent.$index == startPos.x" class="circle" ng-mouseenter="startTracking($event)" ></div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>