<div class="panel panel-default">
    <div class="panel-heading" ng-bind="isShowAnswer ? 'Введите сумму' : 'Посчитайте количество ошибок'"></div>
    <div class="panel-body">
        <span class="text-success" ng-bind="activeBlock.first" ng-show="!isShowAnswer"></span>
        <span class="text-success" ng-bind="activeBlock.second" ng-show="!isShowAnswer"></span>
        <input type="text"  ng-model="answer" ng-show="isShowAnswer" placeholder="Введите число…" autofocus/>
        <div class="doneInstruction" ng-show="isShowAnswer">Введите суммарное число ошибок, после чего нажмите [OK]</div>
        <a class="btn btn-lg btn-success" ng-show="isShowAnswer" ng-bind="question.controlTitle" ng-click="handleResults()" ng-href="{{nextaction}}"></a>
    </div>
</div>