/* colors directive */
colors ul li{
	display: inline-block;
	height: 100px;
	width: 50px;
	margin-right: 20px;
	margin-top: 10px;
	cursor: pointer;
}

colors ul li.selected{
	display: none;
}

digits table{
	border-spacing: 7px;
	border-collapse: separate;
	margin: 0 auto;
}

digits td{
	padding: 10px;
	font-size: 20px;
	text-align: center;
	border: 3px solid #fff;
}

digits td.selected{
	border: 3px solid #4285f4;
	border-radius: 5px;
}

figures li{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px 50px;
    cursor: pointer;
}

figures li.selected{
    visibility: hidden;
}

figures .square{
    background: blue;
}

figures .rectangle{
    background: blue;
    width: 100px;
}

figures .triangle{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid blue;
}

figures .circle{
     background: blue;
     -moz-border-radius:100px;
     -webkit-border-radius: 100px;
     border-radius: 100px;
 }

nvd3-pie-chart{
	display: block;
}

nvd3-pie-chart svg{
	display: inline-block;
	width: 500px;
	height: 500px;
}