<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<link type="text/css" rel="stylesheet" href="styles/styles.css">
<link href="styles/bootstrap.min.css" rel="stylesheet" media="screen">
<link type="text/css" rel="stylesheet" href="styles/tests.css">
<link type="text/css" rel="stylesheet" href="components/nvd3/nv.d3.min.css">

<script type="text/javascript" src="components/angular/angular.min.js"></script>
<script type="text/javascript" src="components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="components/d3/d3.js"></script>
<script type="text/javascript" src="components/nvd3/nv.d3.js"></script>
<script type="text/javascript" src="components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
